#aboutmecontainer {
    padding-top: 40px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
}

#aboutmeheading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 38px;
    color: black;
    text-align: center;

}

#aboutmespan {
    color: #339beb;
}

img[alt="my photo"] {
    display: block;
    margin: auto;
    width: 160px;
    height: 160px;
}

.aboutmep {
    font-size: 16px;
    margin-top: 10px;
    color: #333333;
    font-family: sans-serif;
    box-sizing: border-box;
}

#myname {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 16px;
}

.technicalskillsphotos {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

#loader {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #339beb;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    box-sizing: border-box;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (min-width: 768px) { 
  img[alt="my photo"] {
    width: 250px;
    height: 250px;
  }

  .aboutmep {
      font-size: 18px;
  }

  .technicalskillsphotos {
      width: 45px;
      height: 45px;
  }

  #loader {
      width: 45px;
      height: 45px;
  }

  #aboutmecontainer {
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 120px;
      height: 100%;
  }

  }
  @media (min-width: 992px){
  #aboutmedivtoflex {
      display: flex;
  }
  img[alt="my photo"] {
    width: 220px;
    height: 220px;
    margin-right: 70px;
    margin-left: 40px;
  }

  #aboutmecontainer {
      padding-left: 50px;
      padding-right: 50px;
  }
  #myname {
    width: 220px;
    font-size: 18px;
    margin-left: 40px;
  }
  .aboutmep {
    font-size: 20px;
}

}

@media (min-width: 1200px) { 
    #aboutmecontainer {
        padding-left: 100px;
        padding-right: 100px;
    }

    img[alt="my photo"] {
        width: 270px;
        height: 270px;
    }

    #myname {
        width: 270px;
        font-size: 20px;
        margin-left: 40px;
 }
 .aboutmep {
    font-size: 22px;
}
}