body {
	background-color: #4cb6ef;
}

#boardgame {
	width: 500px;
   	height: 500px;
        display: grid;
        margin: auto;
	margin-top: 50px;
	
}

.boardsquare {
	width: 166.66px;
	height: 166.66px;
	border: 2px solid black;
	box-sizing: border-box;
}

p {
	font-size: 80px;
	font-family: arial;
	text-align: center;
	margin-top: 40px;
	user-select: none;
}

#xwinboard {
	display: none;
	margin-top: 30vh;
  	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#owinboard {
	display: none;
	margin-top: 30vh;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#drawboard {
	display: none;
	margin-top: 30vh;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.pwin {
	margin-bottom: 0;
}

button {
	width: 100px;
	height: 70px;
}

#square0 {
	grid-row: 1;
	grid-column: 1;
}

#square1 {
	grid-row: 1;
	grid-column: 2;
}

#square2 {
	grid-row: 1;
	grid-column: 3;
}

#square3 {
	grid-row: 2;
	grid-column: 1;
}

#square4 {
	grid-row: 2;
	grid-column: 2;
}

#square5 {
	grid-row: 2;
	grid-column: 3;
}

#square6 {
	grid-row: 3;
	grid-column: 1;
}

#square7 {
	grid-row: 3;
	grid-column: 2;
}

#square8 {
	grid-row: 3;
	grid-column: 3;
}