.contact {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
}

.contact h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    margin-top: 0;
}

.contactFlex {
        box-sizing: border-box;
        margin: auto;
        display: flex;
        justify-content: center;
}

.contactFlex ul {
    list-style-type: none;
}

.contactFlex ul li {
    margin-bottom: 10px;
}

.iconsDiv {
    margin: auto;
}

.iconsDiv img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

.contact p {
    color: #333333;
    font-family: sans-serif;
    text-align: center;
    padding-top: 25px;
    background-color: #fafafa;
    font-size: 15px;
    padding-bottom: 25px;
}