input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.RonEur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  font-size: 8px;
  border-radius: 50%;
  color: #1e90ff;
  background-color: white;
  border: 2px solid #1e90ff;
  outline: none;
}

.RonEur div {
  width: 165px;
}

.RonEur img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
}

.RonEur input {
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

#convert {
  width: 165px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #1e90ff;
  color: white;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.RonEur span {
  font-size: 10px;
  color: lightgrey;
}

.RonEur p {
  color: red;
  font-size: 10px;
  margin: 0;
}

@media (min-width: 768px) {
  .RonEur div {
    width: 350px;
  }

  .RonEur img {
    width: 50px;
    height: 50px;
  }

  .RonEur input {
    width: 100%;
    height: 30px;
  }

  .RonEur span {
    font-size: 16px;
  }

  #switch {
    width: 50px;
    height: 50px;
    font-size: 14px;
  }

  #convert {
    width: 350px;
    height: 30px;
    margin-top: 10px;
  }
}
