.AllAccounts {
    padding: 0 20px 10px 20px;
}

.AllAccounts p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.AllAccounts span {
    font-size: 12px;
    color:lightgrey;
}

.AllAccounts img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
}

@media (min-width: 768px) { 
    .AllAccounts {
        padding: 0 20px 10px 20px;
    }

    .AllAccounts img {
        width: 50px;
        height: 50px;
    }

    .AllAccounts p {
        font-size: 20px;
        margin-top: 30px;
    }

    .AllAccounts span {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .AllAccounts img {
        width: 70px;
        height: 70px;
    }
}